.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.modal-content{
    background-color: #fefefe;
    margin: 20% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}
.close-button{
    position: absolute;
    right: 25px;
    top: 0;
}
.modal-window{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
.modal-controls{
    position: relative;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    background-color: #1a558b;
    color: #e8faff;
}
.modal-controls a{
    float: right;
    margin-right: 10px;
    text-decoration: none;
    color: #e8faff;
    transition: transform .1s;
}
.modal-controls a:hover{
    transform: scale(1.2);
}
.modal-controls a i{
    line-height: 30px;
}
@media only screen and (max-width: 1000px){
    .modal-window{
        width: auto;
    }
    .modal-content{
        width: auto;
    }
}