@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/Open_Sans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/Open_Sans/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
html{
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 200px;
    font-family: 'Open Sans';
    background-color: #f7f7f7;

}

.text-major {
    font-size: 17px;
    font-weight: bold;
}

.text-normal {
    font-size: 15px;
}

.text-minor {
    font-size: 14px;
    color: #7d7d7d;
}

.text-center {
    text-align: center;
}

.button {
    border-style: none;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    background-color: #31a6ff;
    color: white;
    font-size: 15px;
    line-height: 40px;
}

.color-red{
    color: red;
}
.bg-color-red {
    background-color: #ff3451;
}

.bg-color-green {
    background-color: #10ca34;
}
.bg-color-grey{
    background-color: #b1b1b1;
}

.main-container {
    width: 400px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.login-container {
    padding: 10px;
    background: #f8f8f8;
    box-shadow: #d6d6d6 1px 1px;
    text-align: center;
}

.login-header {
    height: 40px;
    background: #1a558b;
}

.login-header-text {
    color: white;
    font-size: 20px;
    margin-left: 7px;
    padding: 10px;
}

.login-head {
    margin-bottom: 20px;
}

.login-body {
    display: flex;
}

.login-header-text {
    font-size: 22px;
    line-height: 19px;
}

.login-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 255px;
}

.login-input input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
}

.login-input input[type="text"] {
    width: 250px;
}

.login-input form {
    margin: unset;
}

.user-text-field {
    display: block;
    width: auto;
    height: 40px;
    padding: 3px;
    font-size: 20px;
}

.user-button {
    display: block;
    width: 80px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: none;
    box-shadow: #d6d6d6 1px 1px;
    color: white;
    background: #10ca34;
    font-size: 18px;
}

.header {
    background-color: #3b9cd8;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

.header a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 15px 20px;
}

.header select {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.service-line {
    overflow: hidden;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: rgba(102, 205, 255, 0.62);
}

.main-image {
    height: 200px;
    background-image: url("../../resources/image/paper_plane.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.search-box {
    height: 70px;
    width: 750px;
    margin: 30px auto;
}

.search-box form {
    display: inline-flex;
}

.select-box {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.data-picker-box {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.data-picker-box label {
    width: 150px;
    height: 30px;
    display: block;
}

.select-box select,input[type=date] {
    box-shadow: none;

    width: 140px;
    height: 30px;

    border-radius: 1px;
}

.select-box label {
    width: 80px;
    height: 30px;
    display: block;
}

.submit-box {
    display: inline-flex;
    padding-top: 20px;
}

.submit-box input[type="submit"] {

}

.account-info-box {
    width: 900px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px;
}

.account-header {
    width: 880px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    margin: 10px;
}

.account-username {
    display: block;
    float: left;
    width: 400px;
    font-size: 25px;
}

.account-balance {
    display: block;
    float: right;
    font-size: 25px;
}

.order-ticket-passenger span {
    padding: 3px;
}

.new-flight-container {
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 900px;
    padding: 20px 10px;
    margin: 20px auto;
}

.new-flight {
    width: 600px;
    display: flex;
    margin: 20px auto 20px;
}

.new-flight-container form {

}

.new-flight-column {
    text-align: center;
    margin: 10px auto;
    flex: 50%;
}

.new-flight-row {
    display: flex;
    margin-top: 10px;
}

.table {
    width: 900px;
    margin: 10px auto;
    overflow: hidden;
    text-align: center;

}

.table table {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-align: center;
    width: 100%;
}

.table caption {
    background-color: #3b9cd8;
    color: white;
}

.table th {
    background-color: rgba(72, 182, 255, 0.74);
    color: #1a558b;
    font-weight: bold;
    padding: 5px 15px;
}

.table td {
    padding: 10px 5px;
}

.table tr {
    height: 45px;
}

.table tbody tr:nth-child(2n) {
    background-color: white;
}

.table tbody tr:nth-child(2n+1) {
    background-color: #d0eaff
}

.table a {
    color: #3b9cd8;
    display: block;
    transition: transform .1s;
    font-size: 16px;
    text-decoration: none;
}

.table a:hover {
    transform: scale(1.5);
}

.result-message {
    width: 890px;
    padding: 10px 5px;
    margin: 10px auto;
    border-radius: 7px;
}
.width-400{
    width: 400px;
}
.width-630 {
    width: 630px;
}
.width-auto{
    width: auto;
}
.error {
    background-color: rgba(255, 26, 21, 0.24);
    border: solid red 1px;
    color: crimson;
}

.no-error {
    background-color: rgba(26, 255, 76, 0.24);
    border: solid green 1px;
    color: darkgreen;
}

.new-price-container {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 900px;
    padding: 20px 5px;
    margin: 20px auto;
}

.nav-line-container {
    width: 100%;
    background-color: #d0eaff;

}

.nav-line {
    display: flex;
    height: 50px;
    line-height: 50px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-link a {
    text-decoration: none;
    color: #1a558b;
}

.nav-delimiter i {
    line-height: 50px;
}

.nav-delimiter {
    color: #1a558b;
}

.hidden-info {
    color: #1a558b;
    cursor: help;
}
.hidden{
    display: none;
}
.flight-info {
    background-color: white;
    width: 630px;
    margin-left: auto;
    margin-right: auto;
}

.no-margin {
    margin: 0;
}

.block {
    display: block;
}

.input-checkbox {
    display: none;
    width: 20px;
    height: 20px;
    overflow: auto;
}

.checkbox-span {
    cursor: pointer;
    user-select: none;

}

.input-checkbox + .checkbox-span:before {
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    content: "\f0c8";
    margin-left: 7px;
    width: 1em;
    display: inline-block;
}

.input-checkbox:checked + .checkbox-span::before {
    content: "\f14a";
    font-weight: bold;
    color: #31a6ff;
}

.checkbox-label {
    display: flex;
    height: 18px;
    line-height: 18px;
}

.language-list option {
    background-size: 12px;
    background: no-repeat calc(100% - 20px) center;
}

.error-container{
    padding: 10px 15px;
    width: 400px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.error-title{
    font-size: 20px;
    font-weight: bold;
    color: red;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    border-bottom: #d6d6d6 solid 1px;
}
.error-message a{
    font-weight: bold;
    text-decoration: none;
    cursor: grab;
}
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #cbcbcb;
}
.author{
    width: 100%;
    line-height: 100px;
}
@media only screen and (max-width: 1000px) {
    body{
        margin: 0 0 100px;
    }
    .main-image {
        display: none;
    }

    .options a {
        display: block;
    }

    .options select {
        display: block;
        float: none;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .service-line {
        height: auto;
    }

    .search-box {
        height: auto;
        width: auto;
    }

    .search-box form {
        display: block;
    }

    .search-box div {
        display: block;
        width: 150px;
        margin-top: 10px;
    }

    .submit-box {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }

    .order-info {
        display: block;
    }

    .flight-info {
        width: auto;
    }

    .flight-info-box {
        width: auto;
    }

    .passenger-amount-box {
        height: auto;
        width: auto;
    }

    .passenger-amount {
        height: auto;
        width: auto;
    }

    .passenger-amount span {
        width: auto;
    }

    .amount-control {
        width: auto;
        display: block;
    }

    .order-info-box {
        display: block;
        width: auto;
        height: auto;
        min-width: 330px;
    }

    .order-info-box input {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .order-info-box div {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .width-630,.width-400 {
        width: auto;
    }

    .result-message {
        width: auto;
    }

    .nav-line {
        width: auto;
        min-width: 330px;
    }

    .account-info-box {
        width: auto;
    }

    .account-header {
        width: auto;
        height: auto;
    }

    .account-username {
        float: none;
        width: auto;
    }

    .account-balance {
        float: none;
    }

    .table {
        width: auto;
    }

    .table th {
        padding: 5px;
    }

    .table td {
        padding: 5px;
    }

    .main-container {
        width: auto;
    }
    .error-title{
        height: auto;
    }
    .error-container{
        width: auto;
    }
    .footer{
        height: 50px;
    }
    .author{
        line-height: 50px;
    }
}