.ticket {
    width: 660px;
    height: 230px;
    background-color: white;
    display: flex;
    border-radius: 25px;
    margin: 10px auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ticket-main-info {
    border-right: 2px dashed #919191;
}

.ticket-airline-info {
    margin: 15px;
}

.ticket-flight-info {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 130px;
    display: flex;
    text-align: center;
}

.ticket-flight-info i {
    font-size: 30px;
    line-height: 60px;
}

.ticket-place-and-time-info {
    width: 400px;
    margin: 15px 30px;
}

.ticket-offers {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #e2f7ff;
    border-color: #e2f7ff;
    position: relative;
    width: 260px;
    padding: 5px;
    text-align: center;
}

.ticket-offer {
    display: flex;
    font-size: 15px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 230px;
    height: 30px;
    line-height: 30px;
}

.ticket-travel-class {
    text-align: left;
    margin-left: 20px;
    min-width: 100px;
    flex: 1;
}

.ticket-price {
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #1efa5d;
    border-radius: 7px;
}

.ticket-order {
    position: absolute;
    bottom: 0;
    margin-left: 45px;
    margin-top: 25px;
    margin-bottom: 7px;
    height: 40px;
    width: 150px;
}

.ticket-info{
    height: 40px;
    width: 170px;
    line-height: 20px;
    margin-right: 15px;
}

.passenger-info {
    width: 400px;
    padding: 40px 20px;
    margin: auto;
}

.passenger-detail {
    margin: 10px;
    display: flex;
}

.passenger-info label {
    flex: 1;
}

.passenger-info input {
    flex: 1;
}

.ticket-order-info {
position: relative;
}

.ticket-order-travel-class {
    margin-top: 40px;
    margin-left: 30px;
    width: 150px;
    text-align: center;
}

.ticket-order-price {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: 45px;
    height: 70px;
    width: 130px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.flight-info-box{
    width: 630px;
    margin: 20px auto 20px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.flight-info{
height: auto;
    max-width: 1000px;
}
.flight-info table{
    width: 1000px;
}
.flight-info td{
    padding: 10px;
}
.order-info-box{
    display: flex;
    justify-content: space-between;
    width: 635px;
    height: 40px;
    margin: 20px auto 150px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.order-info-box span{
    justify-content: flex-start;
}
.order-info-box div{
    line-height: 40px;
    align-content: flex-start;
}
.order-info-box form{
    align-content: flex-end;
}
.passenger-amount-box{
    width: 630px;
    height: 40px;
    margin: 20px auto 20px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.passenger-amount{
    text-align: center;
    width: 600px;
    height: 40px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
}
.passenger-amount span{
    width: 300px;
}
.square-button{
    border-style: none;
    width: 40px;
    height: 40px;
    background-color: #31a6ff;
    color: white;
    font-size: 25px;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
@media only screen and (max-width: 1000px) {
    .ticket{
        width: 260px;
        height: auto;
        display: block;
    }
    .ticket-main-info{
        overflow: hidden;
        width: 260px;
        border-bottom: 2px dashed #919191;
        border-right: none;
    }
    .ticket-airline-info{
        margin: 5px auto 3px;
    }
    .ticket-place-and-time-info{
        margin: 5px 15px;
    }
    .ticket-flight-info{
        width: auto;
        height: auto;
    }
    .ticket-offers{
        overflow: hidden;
        padding: 0;
        border-collapse: collapse;
        height: auto;
        border-top-right-radius: 0;
        border-bottom-left-radius: 25px;
    }
    .ticket-order{
        position: unset;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .ticket-order-info{
        overflow: hidden;
        width: auto;
    }
    .passenger-info{
        display: block;
        width: auto;
        padding: 20px;
    }
    .passenger-detail{
        flex: none;
        display: block;
    }
    .passenger-detail label{
        display: block;
    }
    .passenger-detail input{
        display: block;
    }
    .ticket-order-price{
        position: unset;
        margin: 10px auto;
    }
    .ticket-order-travel-class{
        margin: 10px auto;
    }


}
